main {
    padding: 1px;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #000058;
}

.user_form {
	width: 40%;
	margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
	color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
	border: 2px solid white;
    padding: 20px;
}

.logo {
    height: 100px;
	width: 100px;
}

.question {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    color: gray;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.input {
	margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 15px;
	border-radius: 5px;
	border: 1px solid gray;
}

.button {
    width: 100px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    background-color: #FEDF00;
	padding: 10px 10px;
	font-size: 15px;
	border-radius: 5px;
	border: 1px solid gray;
}

.error {
    background-color: red;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
	width: 93%;
	padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
	border: 1px solid yellow;
}

#start_head {
    width: 95%;
    padding: 2px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 2px solid white;
}

#start_head ul {
    height: 100%;
    text-align: right;
    line-height: 50%;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

#start_head ul li {
    height: 100%;
    width: 150px;
    display: inline-block;
    margin-right: 10px;
}

#start_head ul li a {
    text-decoration: none;
    color:white;
}

#img_div{
    width: 60%;
    padding: 5px;
    margin: 15px auto;
    border: 1px solid gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#img_div:after{
    content: "";
    display: block;
    clear: both;
}
img {
    float: left;
    margin: 5px;
    width: 200px;
    height: 140px;
}

.user_profile {
	width: 40%;
	margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
	color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
	border: 2px solid white;
    padding: 20px;
}

.user_profile img {
    float: left;
    margin: 5px;
    width: 80px;
    height: 50px;
}

main article a:link {
    color: yellow;
    text-decoration: none;
}

main article a:visited {
    color: yellow;
}

main article a:hover {
    background-color: #000080;
    color: yellow;
} 

.add_image{
    width: 60%;
    padding: 5px;
    margin: 15px auto;
    border: 1px solid gray;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;